body {
	background-color: #CAD8DE;
	color: black;
	font-size: 14px;
	font-family: "Arial", sans-serif;
}

#header {
	background-color: #0D1B2A;
    padding-top: 15px;
    padding-bottom: 15px;
	color: white;
	font-size: 20px;
}

.header_title {
	font-size: 36px;
    text-align: center;
}

a:link, a:visited {
	color: white;
}

.org {
	font-weight: bold;
}

.skills {
	font-style: italic;
}